/6_final/6_final/x64/Debug
Debug
/6_final/.vs/6_final/FileContentIndex/*.vsidx
/6_final/.vs/6_final/v17/ipch/AutoPCH/21e5b92a371927f9/*.ipch
/6_final/.vs/6_final/v17/Browse.VC.db
/6_final/.vs/6_final/v17/Browse.VC.db-shm
/6_final/.vs/6_final/v17/Browse.VC.db-wal
/6_final/.vs/6_final/v17/Browse.VC.opendb
